[submodule "design/hotelreservation/DeathStarBench"]
	path = design/hotelreservation/DeathStarBench
	url = https://github.com/delimitrou/DeathStarBench.git
[submodule "design/otel_demo/opentelemetry-demo"]
	path = design/otel_demo/opentelemetry-demo
	url = https://github.com/open-telemetry/opentelemetry-demo.git
[submodule "design/trainticket/CUHK-SE/trainticket"]
	path = design/trainticket/CUHK-SE/trainticket
	url = https://github.com/CUHK-SE-Group/train-ticket.git
[submodule "design/trainticket/FUDAN/trainticket"]
	path = design/trainticket/FUDAN/trainticket
	url = https://github.com/FudanSELab/train-ticket.git
[submodule "design/trainticket/SEALAB/trainticket"]
	path = design/trainticket/SEALAB/trainticket
	url = https://github.com/SEALABQualityGroup/train-ticket.git
