server:
  port: 8080

spring:
  application:
    name: ts-station-food-service
  datasource:
#    url: jdbc:mysql://localhost:3306/ts-station-food-mysql?useSSL=false
    url: jdbc:mysql://${STATION_FOOD_MYSQL_HOST:10.176.122.1}:${STATION_FOOD_MYSQL_PORT:3306}/${STATION_FOOD_MYSQL_DATABASE:ts}?useSSL=false
    username: ${STATION_FOOD_MYSQL_USER:root}
    password: ${STATION_FOOD_MYSQL_PASSWORD:Abcd1234#}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

swagger:
  controllerPackage: food.controller